<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Simple Vue App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
</head>
<body>
    <div id="sample_app">
        <input type="text" v-model="enteredValue"></input>
        <button @click="addGoal">Add Item</button>
        <button @click="removeTopGoal">Remove Top Goal</button>
        <button @click="removeLastGoal">Remove Last Goal</button>
        <ul>
            <li v-for="goal in goals">{{goal}}</li>
        </ul>
    </div>
</body>
<script src='./script.js'></script>
</html>